* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(231, 244, 250);
}

header {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(28, 29, 27); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4f4e50,
    rgb(10, 10, 10)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgb(30, 45, 53),
    rgb(7, 14, 24)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(0);
  }
}
.arrow {
  font-size: 30px;
  color: red;
  position: absolute;
  right: 22%;
  animation: 1s ease-out 0s 1 slideInFromLeft;

  top: 10px;
}
.Bar {
  font-size: 20px;
  /* padding-right: 50px; */
  right: 0;
  padding: 15px;
  position: absolute;
  /* margin: auto;
  text-align: right; */
}
.navButton {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  text-align: center;
  margin-left: 10;
  margin-right: 5;
}
.navButton:hover {
  color: red;
}
.backButton {
  position: relative;
  color: white;
  width: 75px;
  height: auto;
  background-color: black;
  border-radius: 6px;
  font-family: VT323, monospace;
  letter-spacing: 1.5px;
  margin-top: 20;
  margin-right: 5px;
  margin-left: 3px;
}
.form-container {
  padding-top: 2%;
  display: flex;
  justify-content: center;
}

.contactForm {
  padding: 10px;
  text-align: center;
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  font-size: 15px;
}
label {
  display: inline-block;
  /* float: left; */
  clear: left;
  width: 75px;
  text-align: left;
}
input {
  display: inline-block;
  /* float: left; */
}
header > .logo {
  height: 80%;
  border-radius: 6px;
  margin-left: 50%;
}

header > p {
  font-family: "Courier New", Courier, monospace;
  color: whitesmoke;
  font-size: 50px;
}

header > .Rose {
  height: 50px;
  border-radius: 6px;
}

.navBar {
  font-family: cursive, monospace;
  color: whitesmoke;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(0);
  }
}

.title {
  /* This section calls the slideInFromLeft animation we defined above */
  position: absolute;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 50px;
  top: 40%;
  left: 50%;
  margin-left: -350px;

  animation: 1s ease-out 0s 1 slideInFromLeft;
}

a {
  color: white;
  text-decoration: none;
}

.poemContainer {
  display: absolute;
  padding: 20px;
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: none;
}

.poemContainer > .div1 {
  text-align: center;
  font-family: VT323, monospace;
  font-size: 25px;
  color: black;
}
.poemContainer > .poemTextContainer {
  height: 100%;
  border: none;
  overflow: scroll;
  text-align: left;
}
.social-container {
  display: flex;
  justify-content: center;
  background: #eee;
  padding: 25px 50px;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: rgb(157, 17, 238);
}
.home {
  width: 100%;
  top: 0;
  position: flex;
  object-fit: contain;
}

.columnImage {
  border-radius: 2%;
  margin-left: 25%;
  margin-top: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 50%;
  height: auto;
}
.column {
  float: right;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.aboutContainer {
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 3%;
  margin-left: 25%;
  border-radius: 2%;
  background-color: white;
  text-align: center;
  width: 100%;
}
